h1 {
  text-decoration: underline; }

.container {
  position: relative;
  max-width: 100%;
  width: 100%; }

.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important; }

.navbar-toggle {
  display: none; }

.navbar-brand {
  margin-left: -15px; }

#custom-control {
  position: absolute;
  top: 18px;
  left: 55px;
  width: 200px;
  bottom: 20px;
  background: #ffffff;
  font-size: 12px;
  box-shadow: 1px 1px 5px black;
  border-radius: 5px;
  padding: 6px 10px 6px 6px;
  color: #333; }

#stations-list {
  border-spacing: 0px;
  border-collapse: collapse; }
  #stations-list thead {
    display: block; }
    #stations-list thead th:nth-child(1) {
      width: 50px; }
    #stations-list thead th:nth-child(2) {
      width: 120px; }
    #stations-list thead th {
      border: 1px solid #666; }
  #stations-list tbody {
    display: block;
    height: 150px;
    overflow-y: scroll; }
    #stations-list tbody td:nth-child(1) {
      width: 50px; }
    #stations-list tbody td:nth-child(2) {
      width: 120px; }
    #stations-list tbody tr:nth-child(2n+1) {
      background-color: #eee; }
    #stations-list tbody td {
      border: 1px solid #666; }

html, body {
  height: 500px; }

#map {
  height: 600px; }
