@charset "UTF-8";

h1 {
  text-decoration: underline;
}
//
.container {
    position: relative;
    max-width: 100%;
    width: 100%;
}
.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
}
.navbar-toggle {
  display: none;
}
.navbar-brand {
  margin-left: -15px;
}
#custom-control {
  position: absolute;
  top: 18px;
  left: 55px;
  width: 200px;
  bottom: 20px;
  background: #ffffff;
  font-size: 12px;
  box-shadow: 1px 1px 5px rgba(0,0,0,4);
  border-radius: 5px;
  padding: 6px 10px 6px 6px;
  color: #333;
}
#lines-list {
  thead {
    display: block;
    th:nth-child(1) {
      width: 50px;
    }
    th:nth-child(2) {
      width: 120px;
    }
  }
  tbody {
    display: block;
    height: 150px;
    overflow-y: scroll;
    td:nth-child(1) {
      width: 50px;
    }
    td:nth-child(2) {
      width: 120px;
    }
    tr:nth-child(2n+1) {
      background-color: #eee;
    }
  }
}

html, body {
  height: 500px;
}
#map {
  height: 600px;
}
